html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}

#terminal {
  width: 80%;
  height: 800px;
  margin: 4rem auto;
  padding: 10px;
  /* should be VERY obvious */
  overflow: hidden;
  background: black;
  filter: drop-shadow(0px 25px 20px rgb(173, 173, 173));
}
.xterm-screen{
    width: 80%;
    height: 1000px;
}
#terminal .xterm {
  height: 100% !important;
}

/* this is the internal scrolling area – turn off its scrollbars */
#terminal .xterm-viewport {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  height: 100% !important;
}

@media(max-width: 700px){
  #terminal{
    height: 500px
  }
}