html, body {
  font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, "Liberation Mono", "Courier New", monospace;

  margin: 0;
  padding: 0;
  overflow-x: auto; 
}

.report-output{
  width: 85%;
  max-height: 80vh;      /* prevents full-page blowout */
  overflow-y: auto;
  padding: 10px;
  /* overflow-x: hidden; */
  
  white-space: pre; /* wrap long text without breaking formatting */
  overflow-wrap: anywhere;
  word-break: break-all;
  text-wrap-mode: wrap;
  white-space-collapse: preserve;

  /* font-family: courier-new, courier, monospace; */
  font-size: 18px;
  line-height: 19px;
  letter-spacing: normal;
  font-kerning: none;
  /* letter-spacing: ; */
  font-weight: 400;

  background: #111;
  color: white;
  margin: 4rem auto;
  filter: drop-shadow(0px 25px 20px rgb(173, 173, 173));
}
#headerDiv{
  font-size: 14px;
  line-height: 15px;
}



@media(max-width: 700px){
  #terminal{
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    word-break: break-all;
    width: 85%;
    height: 90vh;
  }
} 

/*  Span colors + styling  */

/* Official system colors for xterm  */
.black { color: #000;}
.maroon { color: #800000;}
.green { color: #008000;}
.olive { color: #808000;}
.navy { color: #000080;}
.purple { color: #800080;}
.teal { color: #008080;}
.silver { color: #c0c0c0;}
.grey { color: #808080;}
.red { color: #ff0000;}
.lime { color: #00ff00;}
.yellow { color: #ffff00;}
.blue { color: #0000ff;}
.fuchsia { color: #ff00ff;}
.aqua { color: #00ffff;}
.white { color: #fff;}

/* highlighting */
.hBlack { background-color: #000;}
.hMaroon { background-color: #800000;}
.hGreen { background-color: #008000;}
.hOlive { background-color: #808000;}
.hNavy { background-color: #000080;}
.hPurple { background-color: #800080;}
.hTeal { background-color: #008080;}
.hSilver { background-color: #c0c0c0;}
.hGrey { background-color: #808080;}
.hRed { background-color: #ff0000;}
.hLime { background-color: #00ff00;}
.hYellow { background-color: #ffff00;}
.hBlue { background-color: #0000ff;}
.hFuchsia { background-color: #ff00ff;}
.hAqua { background-color: #00ffff;}
.hWhite { background-color: #fff;}

/* text styling */
.bold { font-weight: bold;}
.italic { font-style: italic;}
.underline { text-decoration: underline;}



/* OLD XTERM STYLING */
/* #terminal {
  width: 85%;
  height: 800px;
  margin: 4rem auto;
  padding: 10px;

  overflow: hidden;
  background: black;
  filter: drop-shadow(0px 25px 20px rgb(173, 173, 173));
  
} */

/* .xterm-screen{
    width: 85%;
    height: 1000px;
}
#terminal .xterm {
  height: 100% !important;
}

/* this is the internal scrolling area – turn off its scrollbars */
/* #terminal .xterm-viewport {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  height: 100% !important;
}
*/ 